/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    /* max-width: 100%; */
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

video {
    display: block;
    max-width: 100%;
}


/* CSS */

:root {
    --white: #ffffff;
    --yellow: #EEF208;
    --black: #030900;
    --trueblack: #000000;
    --h1-article_size: 2.6rem;
    --h1-article_size-desktop: 4.7rem;
    --h2-article_size: 2rem;
    --h1-article_lineheight: 3rem;
    --h1-article_lineheight-desktop: 5rem;
    --h2-article_lineheight: 2.125rem;
    --h2-boks_size: 1.375rem;
    --h3-boks_size: 2rem;
}

html, body {
    background-color: var(--black);
}

 /* Nedenstående gør, at indstillinger for main gælder på alt undtagen .flex_col-artikel. Det gør, at videoerne i toppen fylder hele skærmen i width på artiklerne */
main > *:not(.flex_col-artikel) {
    max-width: 1300px;
    margin: 0 auto;
    padding: 1rem;
}

h1 {
    font-family: "Protest Guerrilla", sans-serif;
    letter-spacing: 0.1rem;
}

h2 {
    font-family: "Kulim Park", sans-serif;
    font-weight: normal;
    letter-spacing: 0.1rem;
}

h3 {
    font-family: "Protest Strike", sans-serif;
    line-height: 2.375rem;
    letter-spacing: 0.1rem;
}

h4 {
    font-family: "Protest Strike", sans-serif;
    line-height: 2.375rem;
    letter-spacing: 0.1rem;
    color: var(--yellow);
    font-size: 1.375rem;
    text-align: center;
}

p {
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    color: var(--white);
    letter-spacing: 0.1rem;
}

a {
    text-decoration: none;
}
  
/* Undtagelse for logo-billede inde i navbaren */
.navbar img {
    margin-top: 0;
    margin-bottom: 0;
}

/* navbar */

.navbar {
    position: fixed;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    z-index: 1000;
    width: 100%;
    background-color: var(--black);
    padding: 0.3rem 1rem;
}

.tilbage {
    font-size: 0.7rem;
    color: var(--white);
    border: 1px solid var(--white);
    border-radius: 5vw;
    display: inline-block;
    padding: 0.5rem;
    justify-self: start;
}

.tilbage:hover {
    background-color: #163507;
}

.logo {
    width: 3rem;
    justify-self: center;
    opacity: 70%;
}

.logo:hover {
    opacity: 100%;
}


/* index.html */

.hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.hero_content {
    text-align: center;
    z-index: 2;
}

.hero_content h1 {
    font-size: 7.5rem;
    padding-top: 2rem;
    text-shadow: 
    -1px -1px 0 var(--white),  
    1px -1px 0 var(--white),
    -1px 1px 0 var(--white),
    1px 1px 0 var(--white);
}

.udforsk a{
    font-size: 3rem;
    color: var(--white);
    margin-top: 5.5rem;
    padding: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    border-radius: 5vw;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.25);
    letter-spacing: 0.5rem;
}

.udforsk a:hover {
    color: var(--yellow);
    background-color: rgba(0, 0, 0, 0.5);
}

.background_video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: 1;
}

.dansk {
    color: #41B905;
}

.dance {
    color: var(--yellow);
}

.hall {
    color: #E40606;
}


/* tophistorier.html */

body.tophistorier {
    background: linear-gradient(to bottom, #000000 18%, #474747 50%, #000000 75%);
}

.overskrift {
    color: var(--white);
    text-align: center;
    line-height: 2.5rem;
}

.overskrift h1 {
    font-size: 3.7rem;
    margin-bottom: 2rem;
    padding-top: 5rem;
}

.overskrift h2 {
    font-size: 1.5625rem;
    margin-bottom: 1rem;
}

.flex_col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    height: 45vh; /* boks-video er 50vh, men jeg sætter bevidst denne til 45vh kun. Det gør, at jeg slipper for at lave margin top/bottom på h2 og h3. */
    margin-bottom: 5rem;
}

.boks-video {
    position: absolute;
    object-fit: cover;
    z-index: 1;
    width: 92vw;
    height: 50vh;
    border-radius: 5vh;
}

.boks_1-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    z-index: 2;
}

.boks_1-content h3 {
    color: var(--trueblack);
    font-size: var(--h3-boks_size);
}

.boks_1-content h2 {
    color: var(--yellow);
    font-size: var(--h2-boks_size);
}

.button {
    border: 1px solid var(--yellow);
    border-radius: 3.1875rem;
    display: inline-block;
    padding: 0.5rem;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.boks:hover .boks-video {
    border: 2px solid var(--yellow);
  }
  
  .boks:hover .boks_1-content h3,
  .boks:hover .boks_1-content h2 {
    color: var(--yellow);
  }
  
  .boks:hover .button {
    border: 1px solid var(--yellow);
  }
  
  .boks .button:hover {
    background-color: var(--yellow);
  }  


/* artikel_1.html */

body.artikel_1 {
    background: linear-gradient(to bottom, #000000 40%, #666666 100%);
}

.flex_col-artikel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    height: 30vh;
    padding-top: 7rem;
    width: 100vw;
    max-width: none;
}

.artikel-video {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 30vh;
    opacity: 70%;
    z-index: 1;
}

.artikel-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.artikel-content h1 {
    font-size: var(--h1-article_size);
    line-height: var(--h1-article_lineheight);
    color: var(--yellow);
}

#col_start {
    margin-top: 4rem;
}

.col h2,
.col_1 h2 {
    color: var(--yellow);
    font-size: var(--h2-article_size);
    line-height: var(--h2-article_lineheight);
}

.col_order img {
    filter: grayscale(100%);
}

.col_1 h2 {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.col_1 img {
    margin-top: 1rem;
}


/* artikel_2.html */

body.artikel_2 {
    background: linear-gradient(to bottom, #000000 30%, #474747 70%, #000000 100%);
}

.flex_col_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    height: 30vh; /* boks-video er 35vh, men jeg sætter bevidst denne til 30vh kun. Det gør, at jeg slipper for at lave margin top/bottom på h2 og h3. */
    margin-top: 3rem;
}

.boks-video_2 {
    position: absolute;
    object-fit: cover;
    z-index: 1;
    width: 100vw;
    height: 35vh;
    border-radius: 5vh;
}

.boks_1_2-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* sætter kun height på 90% for content, for at elementerne kommer længere mod midten. */
    height: 90%;
    z-index: 2;
}

.boks_1_2-content h3 {
    color: var(--yellow);
    font-size: var(--h3-boks_size);
}

.boks_1_2-content h2 {
    color: var(--yellow);
    font-size: var(--h2-boks_size);
}

.boks:hover .boks-video_2 {
    border: 2px solid var(--yellow);
  }


/* artikel_2-klumben.html */

body.artikel_2-klumben {
    background: linear-gradient(to bottom, #000000 20%, #666666 100%);
}

/* artikel_3.html */
body.artikel_3 {
    background: linear-gradient(to bottom, #000000 30%, #474747 70%, #000000 100%);
}

.youtube-button {
    border: 1px solid var(--white);
    border-radius: 3.1875rem;
    display: inline-block;
    padding: 0.5rem;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.youtube-button:hover {
    background-color: var(--white);
}

.spotify-button {
    border: 1px solid var(--trueblack);
    border-radius: 3.1875rem;
    display: inline-block;
    padding: 0.5rem;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.spotify-button:hover {
    background-color: var(--trueblack);
}

.boks-songs-content_h3-h4 h3 {
    font-size: var(--h3-boks_size);
    color: var(--yellow);
    text-align: center;
}

.flex_col-songs {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    text-align: center;
    justify-content: space-between;
    height: 55vh;
    margin-bottom: 1rem;
}

.boks-video-songs {
    position: absolute;
    object-fit: cover;
    z-index: 1;
    height: 55vh;
    border-radius: 5vh;
}

.boks-songs-content_h3-h4 {
    position: relative;
    text-align: center;
    z-index: 1;
    margin-top: 2rem;
}

.boks-songs-content-p {
    background-color: rgba(3, 9, 0, 0.2);
    max-width: 90%;
    text-align: center;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-top: 1rem;
    margin-bottom: auto;
    z-index: 1;
}

.button-songs {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    z-index: 2;
}

.boks:hover .boks-video-songs {
    border: 2px solid var(--yellow);
  }